*, *:before, *:after {
  box-sizing: border-box; }

img, embed, object, video {
  max-width: 100%;
  height: auto; }

body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background: #4152b0;
  width: 100%; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.linkyClass a {
  font-weight: bold;
  color: #3d5bae;
  text-decoration: underline; }

.linkyClass a:hover {
  text-decoration: none; }

.commentSection {
  margin-left: 3%;
  max-width: 97%;
  word-wrap: break-word;
  padding-bottom: 5px; }

.clearfix {
  zoom: 1; }

.glossy {
  overflow: hidden;
  padding: 0 24px;
  color: white;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px #154c86;
  background-color: #4e9fe6;
  background-clip: padding-box;
  border: 1px solid;
  border-color: #1c65b2 #18589c #18589c;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04)); }

.landingNav {
  background: white; }

.landingDivs {
  margin: 0 auto;
  text-align: center;
  border: 1px solid white; }

.row-centered {
  text-align: center; }

.col-centered {
  display: inline-block;
  float: none;
  text-align: left;
  margin-right: -4px; }

.loginDiv {
  text-align: center; }

.loginDiv input {
  margin: 0 auto; }

.landingLoginDiv {
  margin-top: 70px; }

.col-fixed {
  width: 320px; }

.col-min {
  min-width: 320px; }

.col-max {
  max-width: 320px; }

.landingNav {
  padding-right: 0; }

.landingNavSecond {
  width: 100%; }

.loginDiv {
  background: white;
  border-radius: 20px;
  margin-bottom: 20px; }

.ng-scope {
  width: 100%; }

.buttonNav {
  padding-right: 0; }

.col-xs-7.col-centered .item .col-xs-2.col-centered.myIframe {
  width: 100% !important; }

iframe {
  width: 100%; }

button {
  background: #389be9;
  border: none;
  color: white;
  margin-top: 2%; }

button:hover {
  background: white;
  border: none;
  color: #389be9;
  margin-top: 2%; }

.homeFont {
  color: #389be9; }

.columnText {
  max-width: 1170px;
  word-break: break-all; }

.postContent {
  background: white;
  border-radius: 20px; }

/* html{
max-width: 100%;
} */
/* .ng-scope{
max-width: 100%;
} */
/* .firstButtonNav{
max-width: 100% !important;
} */
.nav-pills {
  background: #389be9; }

.nav-pills a {
  color: white; }

.columnText {
  color: #389be9; }

.dateText {
  color: #389be9; }

.item {
  margin-bottom: 20px; }

.postButtons {
  margin-bottom: 10px; }

.descriptionP {
  overflow: hidden;
  max-height: 200px; }

.descriptionSharedP {
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 3%;
  text-align: center; }

.yvButton {
  height: 40px; }

.authorDiv {
  margin-left: 3%;
  margin-right: 3%;
  margin-top: -3%;
  margin-bottom: -1%;
  border-bottom: 1px solid #3d5bae;
  text-align: center; }

.chatMessageAuthor {
  display: inline;
  margin-bottom: 25%; }

.chatDiv {
  animation: shadowAlt 1.5s ease-in-out infinite alternate;
  /*   border: 1px solid rgba(150, 200, 255, 0.9); */
  height: 550px;
  width: 100%;
  background: white; }

.chatForm {
  /*   border: 1px solid rgba(150, 200, 255, 0.9); */
  /*   animation: shadowAlt 1.5s ease-in-out infinite alternate; */ }

.chatInputDiv {
  width: 100%;
  background: white; }

.postImage {
  width: 100%;
  height: 400px; }

.iframeVid {
  width: 100%;
  height: 400px; }

.showHideButton {
  margin-left: 3%;
  margin-bottom: 3%; }

.topMainDiv {
  border-bottom: 1px solid white; }

.chatP div:nth-child(even) {
  background: #eeeeee; }

.chatP {
  overflow: scroll; }

.chatP p {
  word-wrap: break-word;
  padding-bottom: 10px; }

.chatInputs {
  text-align: center; }

.row {
  margin-right: 0; }

/* form[novalidate] input{
border-left-width: 8px;
border-color: #3498db;
border-style: solid;
}
input[required].ng-pristine{
border-color: #e74c3c;
}

input.ng-invalid.ng-dirty{
border-color: #e74c3c;
}

input.ng-valid.ng-dirty{
border-color: #2ecc71;
}




textarea[required].ng-pristine{
border-color: #e74c3c;
}

textarea.ng-invalid.ng-dirty{
border-color: #e74c3c;
}

textarea.ng-valid.ng-dirty{
border-color: #2ecc71;
}
*/
/* .ng-enter{
transition:2.15s;
opacity: 0;
}
.ng-enter-stagger{
transition-delay:0.1s;
}
.ng-leave-stagger{
transition-delay:0.1s;
}
.ng-enter-active{
opacity: 1;
}

.ng-leave{
transition:2.15s;
opacity: 1;
}

.ng-leave-active{
opacity: 0;
}
*/
/* @keyframes shadow {

0% {

background-color: rgba(30, 100, 255, 0.2);

}

100% {

background-color: rgba(150, 200, 255, 0.9);

}

} */
@keyframes shadowAlt {
  0% {
    /*     -webkit-box-shadow: 0px 3px 123px 0px rgba(9,159,240,1);
    -moz-box-shadow: 0px 3px 123px 0px rgba(9,159,240,1);
    box-shadow: 0px 3px 123px 0px rgba(9,159,240,1); */
    /*   -webkit-box-shadow: 0px 3px 123px -8px rgba(9,159,240,1);
    -moz-box-shadow: 0px 3px 123px -8px rgba(9,159,240,1);
    box-shadow: 0px 3px 123px -8px rgba(9,159,240,1); */
    -webkit-box-shadow: 0px 0px 123px 1px #099ff0;
    -moz-box-shadow: 0px 0px 123px 1px #099ff0;
    box-shadow: 0px 0px 123px 1px #099ff0;
    /* outline: none;
    border-color: rgb(78,159,230);
    box-shadow: 0 0 1px rgb(78,159,230);
    border-radius: 2000px;
    border: 3px solid rgba(30, 100, 255, 0.2);
    border: 1px solid rgb(78,159,230); */ }
  100% {
    /*     -webkit-box-shadow: 0px 3px 123px -8px rgba(9,159,240,1);
    -moz-box-shadow: 0px 3px 123px -8px rgba(9,159,240,1);
    box-shadow: 0px 3px 123px -8px rgba(9,159,240,1); */
    /*   outline: none;
    border-color: rgb(78,159,230);
    box-shadow: 0 0 1px rgb(78,159,230);
    border: 3px solid rgba(150, 200, 255, 0.9);
    border: 1px solid white; */ } }
