*, *:before, *:after {
  box-sizing: border-box; }

img, embed, object, video {
  max-width: 100%;
  height: auto; }

body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background: #c3ebfd;
  width: 100%; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

.landingNav {
  background: #86d7fc; }

.landingDivs {
  margin: 0 auto;
  text-align: center;
  border: 1px solid black; }

.row-centered {
  text-align: center; }

.col-centered {
  display: inline-block;
  float: none;
  text-align: left;
  margin-right: -4px; }

.loginDiv {
  text-align: center; }

.loginDiv input {
  margin: 0 auto; }

.col-fixed {
  width: 320px; }

.col-min {
  min-width: 320px; }

.col-max {
  max-width: 320px; }

.col-xs-7.col-centered .item .col-xs-2.col-centered.myIframe {
  width: 100% !important; }

iframe {
  width: 100%; }

button {
  background: #389be9;
  border: none;
  color: white;
  margin-top: 2%; }

button:hover {
  background: white;
  border: none;
  color: #389be9;
  margin-top: 2%; }

.homeFont {
  color: #389be9; }

.columnText {
  max-width: 1170px;
  word-break: break-all; }

.postContent {
  background: #97d7f9;
  border: 1px solid #389be9; }

.nav-pills {
  background: #b9ecfd; }

.nav-pills a {
  color: #3397ec; }

.columnText {
  color: #389be9; }

.item {
  margin-bottom: 20px; }

.postButtons {
  margin-bottom: 10px; }

.descriptionP {
  overflow: hidden;
  max-height: 200px; }

.descriptionSharedP {
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 3%;
  text-align: center; }

.authorDiv {
  margin-left: 3%;
  margin-right: 3%;
  margin-top: -3%;
  margin-bottom: -1%;
  border-bottom: 1px solid #389be9;
  text-align: center; }

.chatDiv {
  border: 1px solid #389be9;
  height: 550px;
  width: 100%;
  background: white; }

.chatInputDiv {
  border: 1px solid #389be9;
  width: 100%;
  background: white; }

.postImage {
  width: 100%;
  height: 400px; }

.iframeVid {
  width: 100%;
  height: 400px; }

.showHideButton {
  margin-left: 3%;
  margin-bottom: 3%; }

.chatP div:nth-child(even) {
  background: #eeeeee; }

.chatP {
  overflow: scroll; }

.chatP p {
  word-wrap: break-word;
  padding-bottom: 10px; }

.chatInputs {
  text-align: center; }

form[novalidate] input {
  border-left-width: 8px;
  border-color: #3498db;
  border-style: solid; }

input[required].ng-pristine {
  border-color: #e74c3c; }

input.ng-invalid.ng-dirty {
  border-color: #e74c3c; }

input.ng-valid.ng-dirty {
  border-color: #2ecc71; }

textarea[required].ng-pristine {
  border-color: #e74c3c; }

textarea.ng-invalid.ng-dirty {
  border-color: #e74c3c; }

textarea.ng-valid.ng-dirty {
  border-color: #2ecc71; }

.ng-enter {
  transition: 0.75s;
  opacity: 0; }

.ng-enter-stagger {
  transition-delay: 0.1s; }

.ng-leave-stagger {
  transition-delay: 0.1s; }

.ng-enter-active {
  opacity: 1; }

.ng-leave {
  transition: 0.75s;
  opacity: 1; }

.ng-leave-active {
  opacity: 0; }
