*, *:before, *:after {
  box-sizing: border-box;
}

img, embed, object, video{
  max-width: 100%;
  height: auto;
}
body{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background: rgb(195,235,253);
}
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.landingNav{
  background: rgb(134,215,252);
}

.landingDivs{
  margin: 0 auto;
  text-align: center;
  border: 1px solid black;
}


/* centered columns styles */
.row-centered {
  text-align:center;
}
.col-centered {
  display:inline-block;
  float:none;
  /* reset the text-align */
  text-align:left;
  /* inline-block space fix */
  margin-right:-4px;
}

.loginDiv{

  text-align: center;
}
.loginDiv input{
  margin: 0 auto;
}

.col-fixed {
  /* custom width */
  width:320px;
}
.col-min {
  /* custom min width */
  min-width:320px;
}
.col-max {
  /* custom max width */
  max-width:320px;
}

button{
  background: rgb(56,155,233);
  border:none;
  color: rgb(255,255,255);
  margin-top: 2%;
}
button:hover{
  background: rgb(255,255,255);
  border:none;
  color: rgb(56,155,233);
  margin-top: 2%;
}

.homeFont{
  color: rgb(56,155,233);
}

.phraseDiv{
  text-align: center;
}

.addPostDiv input{
  text-align: center;
  margin: 0 auto;
}
