<div class="container.fluid clearfix">
  <div class="row row-centered">

    <div class="col-md-12 landingNav">
      <div>
        <div style="display: inline-block;">
          <img src="keenlydonelogoSmall.png" class="landingPhrase"alt="Image failed to load">
        </div>
        <div style="display: inline-block;">
          <img src="keenlydonePhraseMedium.png" class="landingPhrase" alt="Failed to load">
        </div>
      </div>
    </div>
  </div>
</div>





<div class="container.fluid buttonNav">
  <div class="row row-centered buttonNav">
    <div class="col-xs-12 col-centered col-min buttonNav">
      <div class="item buttonNav">
        <div class="content buttonNav" ng-init="showChat = true;">
          <ul class="nav nav-pills">
            <li>
              <a
              ng-init="showHideForm = false;addPostButton = true;" ng-show="addPostButton"
              ng-click="showPostForm = !showPostForm;
              showHideForm = !showHideForm;addPostButton = !addPostButton;
              showChat = true;"
              > <span class="glyphicon glyphicon-plus"></span>&nbsp;Add Post</a></li>
              <li><a
                ng-show="showHideForm"
                ng-click="showPostForm = !showPostForm;
                showHideForm = !showHideForm;addPostButton = !addPostButton"
                ><span class="glyphicon glyphicon-minus"></span>&nbsp;Hide Form</a></li>
                <li><a
                  ng-show="showChat"
                  ng-click="showChat = !showChat;
                  showPostForm = false;
                  addPostButton = true;showHideForm = false;"
                  ><span class="glyphicon glyphicon-globe"></span>&nbsp;Chatroom</a></li>
                  <li><a
                    ng-show="!showChat" ng-click="showChat = !showChat"
                    ><span class="glyphicon glyphicon-minus"></span>&nbsp;Leave Chat</a></li>
                    <li style="float:right;"><a
                      ng-click="logout();"
                      ><span class="glyphicon glyphicon-log-out"></span>&nbsp;Logout</a></li>

                    </ul>
                    <!--   <button ng-init="showHideForm = false;addPostButton = true;" ng-show="addPostButton"
                    ng-click="showPostForm = !showPostForm;
                    showHideForm = !showHideForm;addPostButton = !addPostButton">
                    Add Post</button>&nbsp;
                    <button ng-show="showHideForm"
                    ng-click="showPostForm = !showPostForm;
                    showHideForm = !showHideForm;addPostButton = !addPostButton">
                    Hide Form</button>
                    <button ng-show="showChat" ng-click="showChat = !showChat">Chatroom</button>
                    <button ng-show="!showChat" ng-click="showChat = !showChat">Leave Chat</button>
                    <button ng-click="logout();" style="float:right;">Logout</button> -->
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="container.fluid clearfix" ng-show="showPostForm">

            <div class="row row-centered">
              <div class="col-xs-6 col-centered loginDiv">
                <div class="item">
                  <div class="content">
                    <h2 class="homeFont"><i class="fa fa-share-alt"></i>&nbsp;Add Post</h2><br>
                    <form name='form' novalidate>
                      <p class="homeFont"><i class="fa fa-user"></i>&nbsp;Author</p>
                      <input type="text" style="margin-bottom:2%;" ng-model="newPost.author" required>
                      <br>
                      <p class="homeFont"><i class="fa fa-pencil"></i>&nbsp;Text</p>
                      <textarea name="text" rows="5" cols="19" style="margin-bottom:2%;resize:none;overflow:scroll;" ng-model="newPost.description" required>
                      </textarea>
                      <br>
                      <h4 class="homeFont"><i class="fa fa-file-code-o"></i>&nbsp;Choose one media type(optional)</h4>

                      <button
                      ng-show="backShow"
                      ng-click="
                      vidShow = false;
                      imgShow = false;
                      spotShow = false;
                      backShow = false;
                      yvLink = true;
                      imgLink = true;
                      spotLink = true;
                      newPost.videoUrl = null;
                      newPost.audioUrl = null;
                      newPost.imageUrl = null;">
                      <i class="fa fa-step-backward"></i>&nbsp;Change media
                    </button><br ng-show="backShow">

                    <button ng-show="yvLink" ng-init="yvLink = true;"
                    ng-click="
                    vidShow = true;
                    backShow = true;
                    yvLink = false;
                    imgLink = false;
                    spotLink = false;">
                    <i class="fa fa-youtube"></i>&nbsp;
                    Youtube/<i class="fa fa-vimeo"></i>&nbsp;Vimeo Link</button><br ng-show="yvLink">

                    <button ng-show="imgLink" ng-init="imgLink = true;"
                    ng-click="
                    imgShow = true;
                    backShow = true;
                    imgLink = false;
                    yvLink = false;
                    imgLink = false;
                    spotLink = false;">
                    <i class="fa fa-picture-o"></i>&nbsp;Image Link</button><br ng-show="imgLink">

                    <button ng-show="spotLink" ng-init="spotLink = true;"
                    ng-click="
                    spotShow = !spotShow;
                    backShow = true;
                    spotLink = false;
                    yvLink = false;
                    imgLink = false;
                    spotLink = false;">
                    <i class="fa fa-spotify"></i>&nbsp;Spotify Link</button><br ng-show="spotLink">

                    <br><p class="homeFont" ng-show="vidShow"><i class="fa fa-youtube"></i>&nbsp;Youtube or <i class="fa fa-vimeo"></i>&nbsp;Vimeo URL(optional)</p>
                    <input type="text" ng-show="vidShow" style="margin-bottom:2%;" ng-model="newPost.videoUrl">
                    <br ng-show="vidShow">
                    <p class="homeFont" ng-show="imgShow"><i class="fa fa-picture-o"></i>&nbsp;Image URL(optional)</p>
                    <input type="text" ng-show="imgShow" style="margin-bottom:2%;" ng-model="newPost.imageUrl">
                    <br ng-show="imgShow">
                    <p class="homeFont" ng-show="spotShow"><i class="fa fa-spotify"></i>&nbsp;Spotify URL(optional)</p>
                    <input type="text" ng-show="spotShow"style="margin-bottom:2%;" ng-model="newPost.audioUrl">
                    <br ng-show="spotShow">


                    <button ng-disabled="form.$invalid"
                    ng-click="addPost();showPostForm = false;
                    addPostButton = true;showHideForm = false;
                    vidShow = false;
                    imgShow = false;
                    spotShow = false;
                    backShow = false;
                    yvLink = true;
                    imgLink = true;
                    spotLink = true;
                    newPost.videoUrl = null;
                    newPost.audioUrl = null;
                    newPost.imageUrl = null;
                    "><i class="fa fa-check-circle-o"></i>&nbsp;Confirm Post</button><br>

                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>




        <div class="container" ng-hide="!showChat" ng-repeat="post in posts | orderBy: '-date'">

          <div class="row row-centered">
            <div class="col-xs-7 col-centered"><div class="item"><div class="content postContent"><br>
              &nbsp;&nbsp;&nbsp;&nbsp;<h3 class="columnText" style="display:inline;">{{post.author}}</h3><br><br>
              &nbsp;&nbsp;&nbsp;&nbsp;<p class="columnText" style="display:inline;">{{post.description}}</p>
              <!--       <div class="col-xs-2 col-centered myIframe" ng-show="post.videoUrl" ng-bind-html="post.videoUrl"></div> -->
              <iframe width="100%;" height="250" ng-show="post.videoUrl" ng-src="{{trustSrc(post.videoUrl)}}" class="iframeVid" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe><br>
              <img class="col-xs-2 col-centered" ng-show="post.imageUrl" ng-src="{{post.imageUrl}}" style="width:100%;height:250px;" alt=""><br>
              <iframe width="100%;" ng-show="post.audioUrl" ng-src="{{trustSrc(post.audioUrl)}}" class="iframeVid" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>


              &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-calendar columnText postButtons">&nbsp;</i>
              <time title="{{ post.date | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}" class="columnText postButtons">
                {{ post.date | amCalendar }}
              </time>&nbsp;&nbsp;

              <button ng-click="like(post)" class="postButtons"><i class="fa fa-thumbs-o-up"></i>&nbsp;&nbsp;
                <p ng-show="post.likes.length > 0"style="display:inline;">{{post.likes.length}}</p>
                <p ng-show="!post.likes.length" style="display:inline;">0</p>
              </button>&nbsp;&nbsp;
              <button class="viewCommentsButton postButtons" ng-click="showComments = !showComments;showAddComment = false;" style="white-space: nowrap;">
                <i class="fa fa-comment" style="white-space: nowrap;"></i>&nbsp;
                <p ng-show="!post.comments.length;"style="display:inline;">0</p>
                <p ng-show="post.comments.length > 0;"style="display:inline;">{{post.comments.length}}</p>
                <p ng-show="post.comments.length == 1" style="display: inline;">Comment</p>
                <p ng-show="post.comments.length == 0 || post.comments.length > 1" style="display: inline;">Comments</p>
              </button>&nbsp;&nbsp;

              <button class="addCommentButton postButtons" ng-click="showAddComment = !showAddComment;showComments = false;">
                <i class="fa fa-pencil"></i>&nbsp;Add Comment</button></p>

                <div style="text-align:center;" ng-show="showAddComment">
                  <form name="form" novalidate>
                    <p class="columnText">Author</p>
                    <input type="text" ng-model="commentAuthor" required><br><br>
                    <p class="columnText">Comment</p>
                    <textarea name="name" rows="8" cols="19" style="resize:none;"
                    ng-model="commentInput" required></textarea><br>
                    <button ng-disabled="form.$invalid" ng-click="addComment(post,commentAuthor,commentInput);
                    showAddComment = false;commentAuthor = null;commentInput = null;">Submit Comment</button><br><br>
                  </form>
                </div>

                <div class="commentSection" ng-show="showComments"
                ng-repeat="comment in post.comments">
                <p class="commentAndAuthorP columnText" style="display:inline;">
                  &nbsp;&nbsp;&nbsp;&nbsp;<b>{{comment.commentAuthor}}&nbsp;</b>
                  <p style="display:inline;">{{comment.commentInput}}</p></p>

                </div>



              </div></div></div>



            </div>
          </div>


          <!--       <div class="container" ng-hide="showChat">
          <div class="row row-centered">
          <div class="col-xs-6 col-centered"><div class="item"><div class="content">
          <textarea name="name" rows="8" cols="40">
          hi
        </textarea>

      </div></div></div>
      <div class="col-xs-6 col-centered"><div class="item"><div class="content"></div></div></div>
      <div class="col-xs-3 col-centered"><div class="item"><div class="content"></div></div></div>
      <div class="col-xs-3 col-centered"><div class="item"><div class="content"></div></div></div>
      <div class="col-xs-3 col-centered"><div class="item"><div class="content"></div></div></div>
    </div>
  </div>
-->

<div ng-controller="ChatController">

  <div class="container clearfix" ng-hide="showChat">
    <div class="row row-centered">
      <div class="col-xs-7 col-centered">
        <div class="item">
          <div class="content chatDiv">
            <div ng-repeat="message in messages">
            <p class="columnText" style="display:inline;margin-bottom:25%;">{{message.chatAuthor}}</p>
            <p style="display:inline;">{{message.chatMessage}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container clearfix" style="margin-top:-30px;"ng-hide="showChat">
    <div class="row row-centered">
      <div class="col-xs-7 col-centered">
        <div class="item">
          <div class="content chatInputDiv">

            <div class="content chatInputs">
              <form name="form" novalidate>
                <label for="chatAuthor" class="columnText">Author
                  <input style="color:black;" type="text" id="chatAuthor" ng-model="newMessage.chatAuthor" required>
                </label>
                <label for="chatText" class="columnText">Text
                  <input style="color:black;" type="text" id="chatText" ng-model="newMessage.chatMessage" required>
                </label>
                <button ng-disabled="form.$invalid" ng-click="addMessage();">Submit</button>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
